<h1>Edit this celebrity ✏️</h1>
<form action="/celebrities/edit/{{celebrity._id}}" method="POST">

	<label for="title">Name:</label>
	<input type="name" id="title" name="name" value="{{celebrity.name}}">

	<label for="author">Occupation: </label>
	<input type="text" id="occupation" name="occupation" value="{{celebrity.occupation}}">

	<label for="description">Catchphrase: </label>
	<input type="text" id="catchPhrase" name="catchPhrase" value="{{celebrity.catchPhrase}}">

	<button type="submit">Update this celebrity ➕</button>
</form>
</form>