<h1>Edit this celebrity ✏️</h1>
<form action="/celebrities/edit/{{celebrity._id}}" method="POST">

	<label for="title">Name: </label>
	<input type="name" id="title" name="name" value="{{book.title}}">

	<label for="author">Occupation: </label>
	<input type="text" id="occupation" name="occupation" value="{{book.author}}">

	<label for="description">Catchphrase: </label>
	<input type="text" id="catchPhrase" name="catchPhrase" value="{{book.description}}">

	<button type="submit">Update this celebrity ➕</button>
</form>
</form>