{{!-- (http://127.0.0.1:3000/celebrities) => we are here!! --}}
<h2>Celebrity list</h2>
<ul>
{{#each celebrityList}}
 <li>
    <a href="/celebrities/{{id}}">
     {{this.name}}
    </a>
   <form action="/celebrities/{{id}}/delete" method="post">
    <button type="submit">Delete the celebrity</button>
   </form>
</li>
{{/each}}
</ul>
<a href="/celebrities/new">Add a celebrity</a>
{{!-- we added the link here (http://127.0.0.1:3000/celebrities) --}}