<h2>This is the Celebrities 😜</h2>
{{#each celebritiesList}}
  <a href="/celebrities/{{_id}}">
    <p>{{name}}</p>
  </a>
  <form action="/celebrities/{{_id}}/delete" method="POST">
    <button type="submit">Delete</button>
  </form>
{{/each}}
<a href="/celebrities/new">Add a Celebrity</a>