<h1>Here are all the celebrities:</h1>
<ul>
  {{#each celebs}}
    <h3>
      <li><a href='/celebrities/{{_id}}'>{{name}}</a></li>
    </h3>
  {{/each}}
</ul>
<h2><a href='/celebrities/new'>Add new celebrity</a></h2>