<h2>I am a NEW Celebrity to the bunch</h2>

<form action="/celebrities" method="POST">

<label for="">Name: </label>	
<input type="text" name="name">

<label for="">Occupation: </label>	
<input type="text" name="occupation">

<label for="">catchPhrase: </label>	
<input type="text" name="catchPhrase">

<button type="submit">Add this celeb🧸</button>


</form>