<h1>Add a Celebrity</h1>      
    
<form action="/celebrities" method="post">
    <div>
        <label for="name">name</label>
        <input type="text" name="name" id="name"/>
    </div>
    <br>
    <div>
        <label for="occupation">occupation</label>
        <input type="text" name="occupation" id="occupation"/>
    </div>
    <br>
    <div>
        <label for="catchPhrase">catch phrase</label>
        <input type="text" name="catchPhrase" id="catchPhrase"/>
    </div>
    <br>
    <button>Submit</button> 
</form>

<br><br><br>
<a href="/celebrities"><button>Go back to Celebrities</button></a> 
