<h2>Add a celebrity you like</h2>
<form action="/celebrities" method="POST">
    <label for="title">Name: </label>
    <input type="text" placeholder="name">

    <label for="occupation">Occupation: </label>
    <input type="text" placeholder="occupation">

    <label for="catchPhrase">Catchphrase: </label>
    <input type="text" placeholder="catchPhrase">

    <button type="submit">Add a celebrity</button>
</form>