<h2>Add New Celebrity 😘</h2>

<form action="/celebrities/index" method="POST">
	<label for="name">Title: </label>
	<input type="text" name="name" id="name">

	<label for="occupation">Author: </label>
	<input type="text" name="occupation" id="occupation">

	<label for="catchPhrase">Description: </label>
	<input type="text" name="catchPhrase" id="catchPhrase">

	<button type="submit">Add this Celebrity</button>
</form>