{{#with celebritiesDetails}}
    <h2>Details for {{name}}:</h2>
    <p>Occupation: {{occupation}}</p>
    <p>Quote: {{catchPhrase}}</p>
    <a href="/celebrities"><button>Back</button></a>
    <a href="/celebrities/{{_id}}/edit"><button>Edit</button></a>
{{/with}}