<h5>
    <nav class="nav-bar">
        <a class="nav-bar-item" href="/movies"> See Movies</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="nav-bar-item" href="/celebrities"> See Celebrties&nbsp;&nbsp;&nbsp;</a>
    </nav>
</h5>

<h2>
    
    {{celebrityDetail.name}}
    <br />
    {{celebrityDetail.occupation}}
    <br />
    {{celebrityDetail.catchPhrase}}
    
     <a href="/celebrities/{{celebrityDetail._id}}/edit">Edit the Celebrity</a>
   
</h2>

