<h2>
    
    {{celebrityDetail.name}}
    <br />
    {{celebrityDetail.occupation}}
    <br />
    {{celebrityDetail.catchPhrase}}
    
     <a href="/celebrities/{{celebrityDetail._id}}/edit">Edit the Celebrity</a>
   
</h2>

