{{#with celebrity}}
<h2>Edit celebrity</h2>
<form action="/celebrities/{{_id}}" method="post">
<input name = "name" type = "text" value="{{name}}">
<input name = "occupation" placeholder = "Occupation" type = "text" value="{{occupation}}">
<input name = "catchphrase" placeholder = "Catchphrase" type = "text" value="{{catchphrase}}">

<button type = "submit">Edit</button>	
</form>
{{/with}}