<h2>CELEBRITIES!!!!!!</h2>
<ul>
{{#each celebrities}}
   <li><a href="/celebrities/{{this._id}}">{{this.name}}<a></li>
   <form action="/celebrities/{{this._id}}/delete" method="post">
      <button type="submit">delete</button>
   </form>
   <form action="/celebrities/{{this._id}}/edit" method="get">
      <button type="submit">edit</button>
   </form>
{{/each}}
</ul>

<span></span><a href="/celebrities/new">Add new celebrity</a><br>
<a href="/movies/new">Add new movie</a>