<div>
    <h2>this is the celebrities page</h2>
    {{#each CelebList}}
        <p>
            {{this.name}}
        </p>
        <a href="/celebrities/{{_id}}">"Celebrity list"</a>
    {{/each}}
    
 
</div>