<form action="/celebrities" method="POST">
    <label for="add-name">Name</label>
    <input type="text" name="name" id="add-name">
    <label for="add-occupation">Occupation</label>
    <input type="text" name="occupation" id="add-occupation">
    <label for="add-catchphrase">Catch Phrase</label>
    <input type="text" name="catchPhrase" id="add-catchphrase">
    <button type="submit">ADD</button>
</form>