
<form action="/celebrities/new" method="post">
    <label for="name">NAME: </label>
    <input type="text" name="name" id="name">
    <label for="occupation">occupation: </label>
    <input type="text" name="occupation" id="occupation">
    <label for="catchPhrase">catch Phrase: </label>
    <input type="text" name="catchPhrase" id="catchPhrase"> <br>
    <button type="submit">Add a celeb</button>
</form>

