<h2>Add your favorite celebrity</h2>
<form action = "/celebrities" method = 'POST'>
    <input name = "name" placeholder = "Name" type = "text">
    <input name = "occupation" placeholder = "Occupation" type = "text">
    <input name = "catchPhrase" placeholder = "Catch phrase" type = "text">
    <button type = "submit">Add</button>
</form>