<div class="celebrityCreation">
<title>Create</title>
<h2>Create your Celebrity</h2>
<form action="/celebrities" method="post">
<label for='name'>name:</label>
<input type="text" name='name' id='name'>

<label for="occupation">occupation:</label>
<input type="text" name="occupation" id="occupation">

<label for="catchPhrase">catch Phrase:</label>
<input type="text" name="catchPhrase" id="catchPhrase">

<button type="submit">Add a celebrity</button>

</form>

</div>