<h2>Add the celebrity</h2>
<form action="/celebrities" method="post">
    <input type="text" name="name" placeholder="name" id="">
    <input type="text" name="occupation" placeholder="occupation" id="">
    <input type="text" name="catchPhrase" placeholder="catchPhrase" id="">
    <button type="submit"></button>
</form>