<h2>heading</h2>
<form action="/celebrities" method="POST">
<input type="text" name='name' value="{{name}}">
<input type="text" name="occupation" value="{{occupation}}">
<input type="text" name="catchphrase" value="{{catchphrase}}">
<button type="submit">add a celebrity</button>
</form>