<h2>Add a celeb</h2>

<form action="/celebrities/new" method="POST">
  <label for="">Name</label>
  <input name="name" type="text">
  <label for="">Occupation</label>
  <input name="occupation" type="text">
  <label for="">CatchPhrase</label>
  <input name="catchPhrase" type="text">
  <button type="submit">Add Celebrity</button>
</form>