<h2>{{celebrity.name}}</h2>
<p><b>Occupation: </b>{{celebrity.occupation}}</p>
<p><b>Catch phrase: </b><i>{{celebrity.catchPhrase}}</i></p>
<h3><a href="/celebrities">Go back to Celebrities</a><h3>
<h3><a href="/">Go Back to Home</a><h3>