<p><a href="/celebrities/index">Back to our celebrities</a></p>


<h2>Iteration #3: The Celebrity Details Page</h2>

{{#with showCelebrity}}

<p>Name: {{name}}</p>

<p>Occupation: {{occupation}}</p>

<p>Catch Phrase: {{catchPhrase}}</p>

{{/with}}