<div>
  <form action="/celebrity/edit/{{celebrity.id}}" method="POST">
    <input type="text" placeholder="name" name="name" value="{{celebrity.name}}"/>
    <input type="text" placeholder="occupation" name="occupation" value="{{celebrity.occupation}}" /> 
    <input type="text" placeholder="catch Phrase" name="catchPhrase" value="{{celebrity.catchPhrase}}" />
    <button type="submit"> Update Celebrity </button>
  </form>



</div>