<div>
  <form action="/celebrities" method="POST">
    <input type="text" placeholder="name" name="name" />
    <input type="text" placeholder="occupation" name="occupation" /> 
    <input type="text" placeholder="catch Phrase" name="catchPhrase" />
    <button type="submit"> Add new Celebrity </button>
  </form>



</div>