<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<ul>
    <li>
        <a href="/celebrities">Go to celebrity list</a>
    </li>
    <li>
        <a href="/movies">Create the movies</a>
    </li>
</ul>

