<h1>Welcome to the list of Celebrities and Movies!</h1>
{{!-- Iteration #2: Listing Our Celebrities - 6. Add a link that goes to the /celebrities route. --}}
<a href="/celebrities">Display celebrities</a><br>
<a href="/movies">Display movies collection</a>