body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

h1 {
  color: 15px;
}

nav {
  width: 50%;
}

nav > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  list-style: none;
}

nav > ul > li {
  font-size: 1.5rem;
}

nav > ul > li:first-child {
  font-size: 2rem;
}
