<h2>Celebrity List by Name</h2>

<div>
{{#each celebList}}
<ul>
  <a href="/celebrities/{{_id}}"><li>{{this.name}}</li></a>
</ul>
{{/each}}

<button><a href="/new">Add a new celebrity</a></button>

</div>