<p>Welcome</p>
<button><a href="/celebrities">Check all celebrities!</a></button>
<button><a href="/celebrities/new">Add a celebrity!</a></button>
<button><a href="/movies/">check all movies!</a></button>
<button><a href="/movies/new">Add a movie!</a></button>