<h1>This is a Movie List</h1>
{{#each movieList}}
<h2>{{title}}</h2>
<h3>{{genre}}</h3>
<h4>{{plot}}</h3>
<ul>
    {{#each cast}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
{{/each}}



<p>
    <a href="/movies/new">Add a movie</a>
</p>