<h2>Movie Details</h2>
{{#with movie}}
    <h2>Title:</h2>
    <h3>{{title}}</h3>
    <h2>Gene:</h2>
    <h3>{{genre}}</h3>
    <h2>Plot:</h2>
    <h3>{{plot}}</h3>
    <h2>Cast:</h2>
    {{#each cast}}
        <ul>
            <li>{{this.name}}</li>
        </ul>
    {{/each}}
{{/with}}